@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2f1c6a 16.62%, #673de6 85.61%);
  transition: background .2s
}

body.dark {
  background: #121214
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}


.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
/* customização tema */
select#tema {
  border: 1px solid #ECD6C4;
  background: transparent;
  height: 40px;
  padding: 0 20px;
  color: #ECD6C4;
  border-radius: 20px;
  outline: none;
}

/* customização responsivo */
@media(max-width: 767px) {
  .cabecalho-menu {
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.5s;   
    top: 0;
    left: -2000px;
    position: fixed;
  }
  .cabecalho-menu.aberto{
  
    flex-direction: column;
    gap: 32px;
    left:0px;   
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 1;
    display: flex;
  }
  body.dark  .cabecalho-menu.aberto  {  
      background: #121214;    
  }
  body  .cabecalho-menu.aberto  {  
    background: linear-gradient(68.15deg, #2f1c6a 16.62%, #673de6 85.61%);  
  }
  .conteudo-principal {
    flex-direction: column;
  }
  .conteudo-principal-imagem {
    height: auto;
    width: 100%;
  }
  .conteudo {   
    padding: 15px;
  }
  .conteudo-principal-escrito {
    align-items: center;
    text-align: center;
  }
  .icon-menu { 
    display: block;
  }
  .icon-menu span {
    height: 2px;
    width: 20px;
    background-color:#ECD6C4;
    margin-bottom: 5px;
    display: block;
  }
  .titulo-menu {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ECD6C4;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .fechar-menu {
    font-size: 25px;
  }
}
@media(min-width: 767px) {
  .titulo-menu {
    display: none;
  }
  .cabecalho-menu {
    display:flex;
    gap: 32px;
  }
  .icon-menu {
    display: none
  }
}